<link href="style.css" rel="stylesheet">
<form role="form-inline">
   <div class="form-group">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <select class="form-control" size="3">
         <option>1 aaa bbb ccc</option>
         <option>2 aaa bbb ccc</option>
         <option>3 aaa bbb ccc</option>
         <option>4 aaa bbb ccc</option>
         <option>5 aaa bbb ccc</option>
        </select>
       </div>
    </div>
</form>
